*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    height: 550px;
    width: 500px;
    border: solid black;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
}

.box
{
    background-color: gray;
}
