#d1
{
    border: solid red;
    background-color: red;
    box-sizing: border-box;
    
}
#d2
{
    border: solid red;
    background-color: yellow;
    
}
#d3
{
    border: solid red;
    background-color: red;
    border-right: d3;
} 

