#bt
{
    background: olivedrab;color: black;
    border: solid red;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 20px;
}