
.demo
{
    background-color: olivedrab;
    color: black;
}
.dem
{
    background-color: blueviolet;
    color: black;
}

#name
{
    background-color: aqua;
    color: black;
}

#naam
{
    background-color: goldenrod;
    color: black;
}
